@import url('https://fonts.googleapis.com/css2?family=Playwrite+RO:wght@100..400&display=swap');
@import "tailwindcss";
@theme {
    --font-playwrite:'Playwrite RO', 'cursive'
}
/* Reset Chrome/Edge autofill background */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
          box-shadow: 0 0 0px 1000px white inset !important;
  background-clip: content-box !important;
}
